<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<title>
  Route Finder
</title>

<meta charset="UTF-8">
<meta name="description" content="Library Guide Route Finder">
<meta name="keywords" content="Library, Route, Path">
<meta name="author" content="Isaac List">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  
<!-- MUI Resources -->
<link href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
<link href="https://cdn.muicss.com/mui-0.10.3/extra/mui-colors.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.muicss.com/mui-0.10.3/extra/mui-colors.min.css" rel="stylesheet" type="text/css" />

<style>
  p {
    font-size: 1.3em;
  }

  #map {
    width: 240px;
    height: fit-content;
    margin: 2em;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
  }

  #results {
    display: flex;
    flex-flow: row wrap;
  }

  #suggestions {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .suggestion {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    padding: 0.8em 1.2em;
    background-color: #81C784;
    margin: 0.3em;
  }

  #title {
    margin: 0 0 -8px 0;
    padding-top: 8px;
    font-family: Cambria, Georgia, Serif;
    font-size: 3em;
  }

  #book1 {
    color: brown;
    font-size: 18px;
  }

  label {
    font-size: 18px;
  }

  form {
    margin-top: 16px;
  }

  th, td {
    padding: 1.5em 3em;
  }
</style>