<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!--   Site title -->
<div class="mui--bg-color-teal-700 mui-appbar mui--text-center" style="box-shadow: 0 2px 5px rgba(0,0,0,.26);">
  <h1 class="mui--appbar-height" id="title">
    Route Finder
  </h1>
</div>
