<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="mui-container" style="padding-top: 2em;">
  <form name="search" action="/add" method="POST" enctype="text/html">
    <label for="isbn" style="font-size: 18px; padding: 12px;">
      Enter an ISBN number
    </label>
    <div class="mui-textfield">
      <input type="number" id="isbn" value="" name="isbn">
    </div>

    <input type="submit" value="Search" class="mui-btn mui-btn--primary mui-btn--raised">
  </form>
</div>
