<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="mui-container" id="results">
  <img src="https://www.theshabbycreekcottage.com/wp-content/uploads/2015/02/IKEA-map.png" id="map">

  <div>
    <h2>Items to Retrieve</h2>
    <p>
      The items below are listed in the suggested order of retrieval.
    </p>

    <table class="mui-table mui-table--bordered">
      <thead>
        <th>Select</th>
        <th>Title</th>
        <th>Author</th>
        <th>Call Number</th>
      </thead>
      <tbody>
        <tr id="9780393356182">
          <td><input type="checkbox"></td>
          <td>Norse mythology</td>
          <td>Gaiman, Neil, 1960- ..</td>
          <td>BL860</td>
        </tr>
        <tr id="9780525555216">
          <td><input type="checkbox"></td>
          <td>The Anthropocene reviewed : essays on a human-centered planet</td>
          <td>Green, John</td>
          <td>HM621</td>
        </tr>
        <tr id="0142001740">
          <td><input type="checkbox"></td>
          <td>The secret life of bees</td>
          <td>Kidd, Sue Monk</td>
          <td>PS3611.I44</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="buttons">
    <button class="mui-btn mui-btn--danger mui-btn--raised">
      Remove Selected Items
    </button>
    <a href="" class="mui-btn mui-btn--primary mui-btn--raised">
      View Map and Key
    </a>
  </div>
</div>
